.divider-hitbox {
  cursor: col-resize;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.divider {
  height: 100%;
  width: 14px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  transition: all .2s;
}
.divider:active {
  background-color: rgb(200, 200, 200);
}

.rightPane {
  flex: 1;
}

.splitView {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
